
{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5">
  <h4 class="mb-3">Адрес доставки  <span class="text-muted"></span></h4>
  <div class="row">
    <div class="col-md-9">
     <div class="card mb-5" style="height: auto">
       <div class="card-body">
          <form method="POST">
          {% csrf_token %}

         {{ form | crispy}}
          <button type="submit" class="btn btn-secondary float-right">Далее</button>
          </form>
       </div>
     </div>


     <h4 class="mb-3">Реквизиты для выставления счета  <span class="text-muted"></span></h4>
     <div class="test_form">
      <form action="{% url 'checkout:send_email' %}" method="post" >
      {% csrf_token %}

     {{ test_form}}
      <button type="submit" class="btn btn-secondary float-right">далее</button>
      </form>
   </div>

<br>
<br>

      {% if savedAddress %}
      <h4>Сохраненный Адрес</h4>
      <div class="card mb-5" style="height: auto">
        <div class="card-body">
          
          <p><b>адрес :</b> {{ savedAddress.address }}</p>
          <p><b>почтовый индекс :</b> {{ savedAddress.zipcode }}</p>
          <p><b>номер телефона :</b> {{ savedAddress.cellular }}</p>
          <p><b>ориентир :</b> {{ savedAddress.landmark }}</p>
        </div>
        <div class="card-body">
        <!-- Здесь отправка email -->
        <!-- <a href="{% url 'checkout:payment' %}" class="btn btn-primary float-right">Договор-оферта</a> -->
        <a href="{% url 'checkout:send_email' %}"  class="btn btn-success btn-sm"></button>получить счёт по почте</a>

        </div>
      </div>
      {% endif %}






      
    </div>
    <div class="col-md-3">
      <div class="card" style="height: auto">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for item in order_items %}
           <!--<li class="list-group-item">{{ item.item.name }} x {{ item.quantity }}</li>--> 
            <li class="list-group-item">{{ item.item.name }}/ {{ item.item.box_size }}/{{ item.item.tirazh }} </li>
           
            {% endfor %}
          </ul>
        </div>
           <div class="card-footer">
            <span class="float-left"><b>Сумма</b></span>
            <span class="float-right"><b>₽ {{ order_total | floatformat:2 }}</b></span>
          </div>
      </div>
    </div>
  </div>

     

</div>

{% endblock %}