

        <div>

        <img src="/media/products/Q.png" border="0"/>
        
        </div>
        

{% extends 'products/base.html' %}
{% load thumbnail %}




{% load crispy_forms_tags %}
<div class="col-md-">
  <span class="icon"><i class="fa fa-search"></i></span>
  <form method="get">
    {{ filter.form| crispy }}
  <button type= "submit"
class= "btn btn-success btn-buy">
  искать
</button>
</div> 




{% block content %}
<style>
  .outer {

  }
  .inner {
    width: 1200px;
    margin: auto;
  }
</style>

<div class="outer">
  <div class="inner"><div align = "center"
    class="col-md-3">
      <span class="icon"><i class="fa fa-search"></i></span>
      <H6 STYLE="font-family: 'avenir next rounded std'">
      <form method="get">
        {{ filter.form| crispy }}
      <button type= "submit"
    class= "btn btn-success btn-buy">
      искать
    </button>
    </div> </div>
</div>
<!--
<div style="position:absolute;z-index:10000;top:515px;margin-left:250px;">
  <img src="/media/products/005.png" border="0"/>
  </div>
   -->
<!--
  <div style="position:absolute;z-index:10000;top:560px;margin-left:500px;">
    <img src="/media/products/1p.png" border="0"/>
    <h6>решение для вас</h6>
    </div>
  -->
  <div style="position:absolute;z-index:10000;top:600px;margin-left:700px;">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    
    <i class="fa fa-2x fa-spin fa-refresh"></i>
    
    <h6>он-лайн расчет</h6>


    
  </div>
  <div style="position:absolute;z-index:10000;top:600px;margin-left:900px;">
    <h1><i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>
    <span class="sr-only">Загрузка...</span>

    <h6>он-лайн заказ</h6>
    </div>
    </div>
    <div style="position:absolute;z-index:10000;top:600px;margin-left:1100px;">
      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Загрузка...</span>

      <h6>производство</h6>
      </div>


      <div style="position:absolute;z-index:10000;top:600px;margin-left:450px;">
        <div class="rating">
        <h2> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></h2> 
        
        <h6>высокое качество</h6>
          </div>
        </div>


        <div style="position:absolute;z-index:10000;top:610px;margin-left:1300px;">
        
          <h2><i class="fas fa-truck"></i></h2>
          
        
          <h6>доставка</h6>
          </div>

        

  <!-- <div class="container my-5"> -->
    <!-- <h2 class="my-5">Категории продуктов</h2> -->
    <!-- <div class="row"></div> -->
    <!-- <div class="row"> -->
    <!-- <div class="row"></div> -->

   
   
   

<div class="blog">

  <H6 STYLE="font-family: 'avenir next rounded std'">
 <div class="container">
  
 <h2 class="text-center">Категории продуктов</h2>
 <H6 STYLE="font-family: 'avenir next rounded std'"></H6>
 <br>
  <div class="row">
   
    <!-- <div class="card"> -->
     <!-- <div class="card-img">
      <img align="center" src="images/posts/polit.jpg" class="img-fluid">
     </div> -->

	{% for product in filter.qs %}
  
  <!-- <div class="tile__body list-default__parent"> -->


	<div class="col-md-3 col-lg-3 col-sm-6">
    

	    <div class="card">
	     <div class="card-img">
	      <!-- <img align="center" src="{{ product.mainimage.url }}" class="img-fluid"> -->
	      <!-- <img align="center" src="media/{{ product.mainimage }}" class="img-fluid"> -->
          <!-- { % thumbnail 'product.mainimage' "50" as im % } -->
          
      		{% thumbnail product.mainimage "300" as im %}
		        <img align="center" src="{{ im.url }}" alt="not found" class="img-fluid">
		        <!-- { % empty % }
		        <p>No image</p> -->
			{% endthumbnail %}
	     </div>

	    <div class="card-body">
        <H6 STYLE="font-family: 'Courier New'"></H6>
         <h6 class="card-title"><a href="products_by_category/{{ product.id }}"><p style="color:rgb(36, 163, 60)">{{ product.name }}></p></a></h6>
 {{ product.preview_text}} 
  
  
         <p class="card-text">

	      
	      </p>
	     </div>

	    </div>


  
  </div>
	   
	
		  
		{% endfor %}

   </div>
  </div>
 </div>
</div>
</div>
</div>

  
  <div>
    <img src="/media/products/Q3.png" border="0"/>
            
    </div>
{% endblock %}





<body>

  <video controls loop>
    <source src="media/box_production1.mp4" type="video/mp4">
   
    Your browser does not support the video tag.
  </video>