

        <div>

        <img src="/media/products/Q.png" border="0"/>
        
        </div>
        

{% extends 'products/base.html' %}
{% load thumbnail %}




{% load crispy_forms_tags %}
<div class="col-md-">
  <span class="icon"><i class="fa fa-search"></i></span>
  <form method="get">
    {{ filter.form| crispy }}
  <button type= "submit"
class= "btn btn-success btn-buy">
  искать
</button>
</div> 




{% block content %}


<div>
<img src="/media/products/Q2.png" border="0"/>
        
</div>

<div class="col-md-3">
  <span class="icon"><i class="fa fa-search"></i></span>
  <form method="get">
    {{ filter.form| crispy }}
  <button type= "submit"
class= "btn btn-success btn-buy">
  искать
</button>
</div> 


  <!-- <div class="container my-5"> -->
    <!-- <h2 class="my-5">Категории продуктов</h2> -->
    <!-- <div class="row"></div> -->
    <!-- <div class="row"> -->
    <!-- <div class="row"></div> -->



<div class="blog">
 <div class="container">
 <h2 class="text-center">Категории продуктов</h2>
  <div class="row">
   
    <!-- <div class="card"> -->
     <!-- <div class="card-img">
      <img align="center" src="images/posts/polit.jpg" class="img-fluid">
     </div> -->

	{% for product in filter.qs %}
  
  <!-- <div class="tile__body list-default__parent"> -->


	<div class="col-md-4 col-lg-4 col-sm-12">

	    <div class="card">
	     <div class="card-img">
	      <!-- <img align="center" src="{{ product.mainimage.url }}" class="img-fluid"> -->
	      <!-- <img align="center" src="media/{{ product.mainimage }}" class="img-fluid"> -->
      		<!-- { % thumbnail 'product.mainimage' "50" as im % } -->
      		{% thumbnail product.mainimage "300" as im %}
		        <img align="center" src="{{ im.url }}" alt="not found" class="img-fluid">
		        <!-- { % empty % }
		        <p>No image</p> -->
			{% endthumbnail %}
	     </div>

	    <div class="card-body">
	     <h4 class="card-title"><a href="products_by_category/{{ product.id }}">{{ product.name }}</a></h4>
	      <p class="card-text">
	       {{ product.preview_text}}
	      </p>
	     </div>
	   <!--   <div class="card-footer">
	      <a href="" class="card-link">Read more</a>
	     </div> -->
	    </div>
	<!-- </div> -->

  
  </div>
	   
		
			<!-- { % thumbnail "media/{{ product.mainimage }}" "300" as im % } -->


	     <!-- </div> -->

		  
		{% endfor %}

   </div>
  </div>
 </div>
</div>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- 		</div>
	</div>
  </div>
  </div>
  -->
  
  <div>
    <img src="/media/products/Q3.png" border="0"/>
            
    </div>
{% endblock %}

  