{% load cart_tag %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="/"><p style="color:rgb(229, 152, 147)">Домой</p></a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li {% if request.path == 'contact' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link" href="http://127.0.0.1:8000/about.html/">о нас <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/technologies.html">технологии</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/layout.html">дизайн</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/requirements.html/">требования к файлам</a>
      </li>
      <li class="nav-item">
       <!-- <a class="nav-link" href="http://127.0.0.1:8000/photo.html/">фотосъемка</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/delivery.html/">доставка</a>
      </li>
      
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mainapp:cart-home' %}">
          <i class="fa fa-shopping-cart"></i> Корзина
          <span class="badge badge-light">{{ request.user| cart_total }}</span>
        </a>
      </li>
       <li class="nav-item">
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-phone"></i> +7(495) 740*38*93</a>
        <a class="nav-link" href="#"><i class="fa fa-envelope" aria-hidden="true"></i>info@005.ru</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-tie"></i> {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Панель</a>
          <a class="dropdown-item" href="{% url 'checkout:oderView' %}">Заказы</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">выход из системы</a>
        </div>
      </li>
      {% else %}
       <li class="nav-item">
        <a  class="btn btn-primary" href="/accounts/login/">Login / Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
  </div>
  
</nav>

