
{% extends "products/base.html" %}


{% block content %}

{% for product in products %}

<div class="container my-5">
    
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
       
      <div> <a href="#"><img src="/media/{{product.mainimage }}" style="width: 450px"></a></div>
   <!--    <div> <a href="#"><img src="/media/{{boxsizes.mainimage }}" style="width: 450px"></a></div> -->
     <h4> </h4>
     
   
     
     <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
     <span class="sr-only">Загрузка...</span>
     <h2>мы готовы начать</h2>
      
    </div> <!-- slider-product.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
    <article class="card-body p-5">
        <h3 class="title mb-3">{{ object.name }}</h3>
    <p class="price-detail-wrap"> 
       
 
        <a href="{% url 'mainapp:cart' product.slug %}" class="btn  btn-lg btn-primary btn-success text-uppercase"> <i class="fas fa-shopping-cart"></i>  Заказать </a>
        <td>
        <td>{{object.tirazh}}</td>
    
    </td>
    
    
    
        <span class="price h3 text-warning">  
       <!-- <span class="num">₽<span<p id="result"><p>  </span> -->
        <span class="num">₽<span<p>{{product.calc}}</p>  </span>
           
               
        </span> 
        
    </td>   

    <h3 class="title mb-3">{{ product.name }}</h3>
  
    <h6 class="title mb-3">{{product.detail_text }}</h3>
<div class="container-fluid">
    <form id="product-form">
        <div class="row">
            {% csrf_token %}
            <div class="form-group col-4">

            {% for field in form %}
            
                <label class="col-12">{{ field.label }}</label>
                {{ field }}
            
            
            

            {% endfor %}
            </div>
            <input type="hidden" id="custId" name="product_id" value="{{ product.id }}">
            
           
          
            <div style="position:absolute;z-index:10000;top:555px;margin-left:15px;">
                <h4> </h4><input type="submit" class= "btn btn-success btn-buy" value="Расчитать" />
                
                </div>
        </div>
    <form>  
</div>

<hr />

<div class="container-fluid">
    <table class="table table-striped table-sm" id="my_products">  
        <thead>
            <tr>
                <th>Размер</th>
                <th>Дата изготовления</th>
                <th>Тираж(шт.)</th>
                <th>Цена(руб.)</th>
                
                
            </tr>
        </thead>
        <tbody>
           
        

               
          
  
        
        <tr>
            <td>{{product.box_size}}</td>
            <td>{{product.timeplus}}</td>
            <td>{{product.tirazh}}</td>
            <td>{{product.calc}}</td>
            

        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}






{% block javascript %}
<script>

    $(document).ready(function() {
        /*
            On submiting the form, send the POST ajax
            request to server and after successfull submission
            display the object.
        */
        $("#product-form").submit(function (e) {
            // preventing from page reload and default actions
           
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            // make POST ajax call
            $.ajax({
                // POST метод
                type: 'POST',
                url: "{% url 'post_product' %}",
                data: serializedData,
                // async: true,

                timeout:20000,

                // Функция вызываемая если запрос успешен
                success: function (response) {
                    // on successfull creating object
                    // 1. clear the form.
                    $("#product-form").trigger('reset');
                    // 2. focus to nickname input 
                    // $("#id_product.name").focus();

                    // display the newly friend to table.
                    var instance = JSON.parse(response["instance"]);
                    var fields = instance[0]["fields"];

                    // $("#my_friends tbody").empty()

                    $("#my_products tbody").prepend(
                        `<tr>
                        <td>${fields["box_size"]||""}</td>
                        <td>${fields["tirazh"]||""}</td>
                        
                        </tr>`
                    )

                    // $("#my_products tbody").html(
                    //     `<tr>
                    //     <td>${fields["box_size"]||""}</td>
                    //     <td>${fields["tirazh"]||""}</td>
                        
                    //     </tr>`
                    // )
                },
                // error вызывается, если запрос выполняется с ошибкой
                error: function (response) {
                    // alert the error if any error occured
                    // alert('EERRRRRRRRRRRRRRRRRRRRRRRRRRR')
                    alert(response["responseJSON"]["error"]);
                },
                complete: function (response) {
                    // alert('OOOOOOOOOKKKKKKK');
                    location.reload();
                }
            })
        })

        // <td>${fields["price"]||""}</td>

        /*
        On focus out on input nickname,
        call AJAX get request to check if the nickName
        already exists or not.
        */
        $("#id_nick_name").focusout(function (e) {
            e.preventDefault();
            // get the nickname
            var nick_name = $(this).val();
            // GET AJAX request
            $.ajax({
                type: 'GET',
                url: "{% url 'validate_nickname' %}",
                data: {"nick_name": nick_name},
                success: function (response) {
                    // if not valid user, alert the user
                    if(!response["valid"]){
                        alert("You cannot create a friend with same nick name");
                        var nickName = $("#id_nick_name");
                        nickName.val("")
                        nickName.focus()
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        })
    })
</script>
{% endblock javascript %}








<p id="result"></p>
<script>                
 {
    
    
    var x = {{product.tirazh}} ;
    if (x < 1000) {
    x = 1000;
    }
    var num= {{product.calc}} 
    var r = (Math.floor(num * 1) / 1) // первая часть искомого числа
    var ost = num - r
    var r1 = r * 0.0001 // первая часть искомого числа, с учетом знаков после запятой
    var st = x ** (ost*(-1)) // тираж в искомой степени
    var e = (r1 * st)
    var y = Math.round(e)
    var res = e*x; }
    document.getElementById("result").innerHTML = res;
</script> 