

        <div>

            <img src="/media/products/Q.png" border="0"/>
            
            </div>
            
    
    {% extends 'products/base.html' %}
    {% load thumbnail %}
    
    
    
    
    {% load crispy_forms_tags %}
    <div class="col-md-">
      <span class="icon"><i class="fa fa-search"></i></span>
      <form method="get">
        {{ filter.form| crispy }}
      <button type= "submit"
    class= "btn btn-success btn-buy">
      искать
    </button>
    </div> 
    
    
    
    
    {% block content %}
    
    <!--
    <div style="position:absolute;z-index:10000;top:515px;margin-left:250px;">
      <img src="/media/products/005.png" border="0"/>
      </div>
       -->
    <!--
      <div style="position:absolute;z-index:10000;top:560px;margin-left:500px;">
        <img src="/media/products/1p.png" border="0"/>
        <h6>решение для вас</h6>
        </div>
      -->
      
    <div class="blog">
    
      <H6 STYLE="font-family: 'avenir next rounded std'">
     <div class="container">
      
     <h2 class="text-center">требования к файлам</h2>
     <H6 STYLE="font-family: 'avenir next rounded std'"></H6>
     <br>
      <div class="row">



        Форматы файлов

        Для печати принимаются растровые, векторные, PostScript и PDF файлы, а также файлы верстки QuarkXPress, PageMaker, InDesign в цветовой модели CMYK и Pantone:
        
        • TIFF 4 канала (Cyan, Mangenta, Yellow, Black) без дополнительных альфа-каналов (Channals) и без путей (Paths) за исключением пути обтравки; без LZW компрессии; все слои (Layers) должны быть сведены; с доливкой к обрезному формату 5 мм с каждой стороны. >
        
        Достаточным разрешением для растровых изображений является значение линиатуры вывода, умноженное на 1,5 (пример: линиатура 150 lpi - 225 dpi; 175 lpi - 270-300 dpi).
        
        Для штриховых изображений разрешение 600-1200 dpi.
        
        На штриховых изображениях меньшего чем 600dpi разрешения, может появиться видимая глазом «пила».
        
        • TIFF 4 канала (Cyan, Mangenta, Yellow, Black) без дополнительных альфа-каналов (Channals) и без путей (Paths) за исключением пути обтравки; без LZW компрессии; все слои (Layers) должны быть сведены; с доливкой к обрезному формату 5 мм с каждой стороны.
        
        Достаточным разрешением для растровых изображений является значение линиатуры вывода, умноженное на 1,5 (пример: линиатура 150 lpi - 225 dpi; 175 lpi - 270-300 dpi).
        
        Для штриховых изображений разрешение 600-1200 dpi.
        
        На штриховых изображениях меньшего чем 600dpi разрешения, может появиться видимая глазом «пила».
        
        • TIFF 4 канала (Cyan, Mangenta, Yellow, Black) без дополнительных альфа-каналов (Channals) и без путей (Paths) за исключением пути обтравки; без LZW компрессии; все слои (Layers) должны быть сведены; с доливкой к обрезному формату 5 мм с каждой стороны.
        
        Достаточным разрешением для растровых изображений является значение линиатуры вывода, умноженное на 1,5 (пример: линиатура 150 lpi - 225 dpi; 175 lpi - 270-300 dpi). Для штриховых изображений разрешение 600-1200 dpi. На штриховых изображениях меньшего чем 600dpi разрешения, может появиться видимая глазом «пила».
        
        • EPS (Encapsulated PostScript) (Cyan, Mangenta, Yellow, Black + Pantone), все шрифты должны быть переведены в кривые.
        
        Связанные с файлом растровые изображения: должны быть предоставлены отдельными файлами, должны быть в палитре CMYK, без дополнительных альфа-каналов (Channals); без путей (Paths) за исключением пути обтравки; без LZW компрессии;
        
        все слои (Layers) должны быть сведены; с доливкой к обрезному формату 5 мм с каждой стороны.
        
        • файлы верстки (qxd, pmd, indd) (Cyan, Mangenta, Yellow, Black + Pantone), используемые в верстке растровые, векторные изображения и шрифты, должны предоставляться отдельными файлами в полном объеме (недостача изображений и шрифтов увеличивает срок изготовления цветоделенных пленок и как следствие тиража издания);
        
        формат полосы (обрезной) с доливкой на вылет по 5 мм с каждой стороны, не принимается верстка с использованием системных шрифтов и с включенными капителями; публикации из программ верстки должны содержать только используемые цвета, цвета взятые из Pantone и переведенные в CMYK, должны содержать цифровые значения каждого цвета (пример: С=10, М=20, Y=30, K=40); файлы верстки InDesign, желательно предоставлять с переведенными в кривые шрифтами.
        
        Не присваивайте файлам в издании одинаковых имен!
        
        Не принимаются файлы верстки со вставленными объектами Word, Exel, Corel, при наличии в верстке данных объектов ответственность за корректное цветоделение и печать ложится на заказчика.
        • PostScript композитный, блог по-полосный (количество полос в одном файле не ограничено), обложка отдельным PS файлом (по-полосно или разворотами 4-1; 2-3) с обрезными метками по обрезному формату издания, с метками для совмещения, с доливкой к обрезному формату по 5 мм с каждой стороны и информацией о цвете (CMYK+Pantone).
        
        PDF требования идентичны требованиям к PostScript + не рекомендуется использовать компрессию при генерации PDF файла из PS. Для генерации PS рекомендуется использовать PPD ScenicSoft Color (можно скачать с нашего сайта, также как и установки Adobe Distiller 6.0 для генерации PDF)
        
        Общие требования к файлам готовым к печати и сопроводительной информации:
        
        При подготовке файлов следует учитывать следующие требования:
        
        • черный и серый цвета не должны быть составными; черный CMYK 0/0/0/100, (пример серого 0, 0, 0, 20) (кроме «глубокого черного» - CMYK 40/30/30/100);
        
        • в векторных файлах, шрифт и векторные элементы черного цвета и серых оттенков должны содержать параметр overprint по заливке и контуру;
        
        • пропорции файлов должны соответствовать печатаемым размерам.
        
        • сопроводительная информация должна быть представлена в письменном виде, и содержать:
        
        - название файла;
        
        - распечатку точно соответствующую содержанию файла (с обрезными крестами по формату), подписанную заказчиком;
        
        - цветопробу (желательно), подписанную заказчиком;
        
        - формат(обрезной и дообрезной);
        
        - количество полос;
        
        - цветность (например: 1+1, 4+4, 4+0);
        
        - номер Pantone (если он используется);
        
        • формат должен быть четким (пример 210х300 – дообрезной; 200х290 – обрезной);
        
        - верстка должна производиться по обрезному формату с доливкой по 5мм.
        
        Файлы, не соответствующие вышеперечисленным требованиям, не являются файлами готовыми к печати. Доработка файлов и как следствие изменение сроков сдачи тиража оговариваются дополнительно.

       
        <!-- <div class="card"> -->
         <!-- <div class="card-img">
          <img align="center" src="images/posts/polit.jpg" class="img-fluid">
         </div> -->
    
        {% for product in filter.qs %}
      
      <!-- <div class="tile__body list-default__parent"> -->
    
    
        <div class="col-md-3 col-lg-3 col-sm-6">
        
    
            <div class="card">
             <div class="card-img">
              <!-- <img align="center" src="{{ product.mainimage.url }}" class="img-fluid"> -->
              <!-- <img align="center" src="media/{{ product.mainimage }}" class="img-fluid"> -->
              <!-- { % thumbnail 'product.mainimage' "50" as im % } -->
              
                  {% thumbnail product.mainimage "300" as im %}
                    <img align="center" src="{{ im.url }}" alt="not found" class="img-fluid">
                    <!-- { % empty % }
                    <p>No image</p> -->
                {% endthumbnail %}
             </div>
    
            <div class="card-body">
            <H6 STYLE="font-family: 'Courier New'"></H6>
             <h6 class="card-title"><a href="products_by_category/{{ product.id }}"><p style="color:rgb(36, 163, 60)">{{ product.name }}></p></a></h6>
     {{ product.preview_text}} 
      
      
             <p class="card-text">
    
              
              </p>
             </div>
    
            </div>
    
    
      
      </div>
           
        
              
            {% endfor %}
    
       </div>
      </div>
     </div>
    </div>
    </div>
    </div>
    
      
    
    
      <div>
        <h6 class="text-center"></h6> 
        
        </div>
    <br>
    <br>
    <br>
    
    <div 

    
      
            
    
    {% endblock %}
    
    
    
    
    
    <body>
    
      <video controls loop>
        <source src="media/box_production1.mp4" type="video/mp4">
       
        Your browser does not support the video tag.
      </video>